.cube {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    box-sizing: border-box;
}

.active {
    background: #00b0ff;
}

.disabled {
    cursor: not-allowed;
}
