.btn {
    background-color: #1c54b2;
    border-radius: 5px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    height: 30px;
    line-height: 20px;
    list-style: none;
    outline: none;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 0.4ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: 0 10px;
}

.btn:hover,
.btn:focus {
    background-color: #669dfd;
}

.btn:disabled{
    background-color: #669dfd;
    cursor: not-allowed;
}