.container{
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1200px;
}

.square {
    display: flex;
    flex-wrap: wrap;
}

.app {
    display: flex;
    justify-content: space-evenly;
}

.appActions {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.mode5 {
    width: 250px;
    height: 250px;
}

.mode10 {
    width: 500px;
    height: 500px;
}

.mode15 {
    width: 750px;
    height: 750px;
}



